<nav class="navbar bg-body-tertiary navbar bg-dark">
    <div class="container-fluid">
        
            <a class="navbar-brand" href="#">
                <img src="assets/img/header/neoris.png" alt="" height="30rm">            
            </a>
            <div class="text-light h4">{{name}}</div>
        
        
        <div style="width: 5rem;" class="d-flex justify-content-between">
            <a href="#">
                <img  src="assets/img/header/contacts.png" alt="" height="30rm">
            </a>
            <a href="#">
                <img src="assets/img/header/logout.png" alt="" height="30rm">
            </a>            
        </div>
    </div>
</nav>
