<nav class="navbar bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu de Navegación</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/binnacle/project']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/binnacle/projects']">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/binnacle/activity']">Bitacora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/binnacle/activities']">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/binnacle/user']">Configuración</a>
          </li>
        </ul>
      </div>
    </div>

    <a class="navbar-brand" href="#">
      <img src="assets/img/header/neoris.png" alt="" height="30rm">
    </a>
    <div class="text-light h4">{{name}}</div>
    <div style="width: 5rem;" class="d-flex justify-content-between">
      <a href="#">
        <img src="assets/img/header/contacts.png" alt="" height="30rm">
      </a>
      <a href="#">
        <img src="assets/img/header/logout.png" alt="" (click)="logout()" height="30rm">
      </a>
    </div>
  </div>
</nav>