<app-header [user]="user"></app-header>

<div class="container">
    <h1>Proyectos</h1>
    <div class="bg-dark d-flex justify-content-between" >
        <div>
            <button type="button" class="btn btn-dark" [routerLink]="['/projectform']">Nuevo Proyecto +</button>            
            
        </div>

        <div>
            <form>
                <input  type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Buscar</button>
              </form>
        </div>        
    </div>
    <div class="row" *ngFor="let project of projects">
        <app-projectcard [project]="project" class="col-3" (click)="projectClic(project)" ></app-projectcard>        
    </div>
</div>

