<div class="d-flex justify-content-around ">
  <div class="h5">Nombre</div>
  <div class="h5">Descripción</div>
  <div class="h5">Inicio</div>
  <div class="h5">Fin</div>
  <div class="h5">Estado</div>
</div>

<div class="btn btn-light d-flex justify-content-around " *ngFor="let activity of activities" [routerLink]="['/binnacle/activity',activity!.idActivitie]">

  <span>{{activity.name}}</span>
  <span>{{activity.description}}</span>
  <span>{{activity.dateStart}}</span>
  <span>{{activity.dateEnd}}</span>
  <span>{{"Activo"}}</span>

</div>