<table class="table">
    <thead class="thead-dark">
      <tr>        
        <th scope="col">Descripción</th>        
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha de fin</th>
        <th scope="col">Horas laborales</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">        
        <td>{{activity.description}}</td>
        <td>{{activity.dateStart}}</td>
        <td>{{activity.dateEnd}}</td>
        <td>{{activity.workingHours}}</td>               
      </tr>          
    </tbody>
  </table>
